<!DOCTYPE html>
<html lang="en" ng-app="WSChatApp">
	<head>
		<meta charset="UTF-8">
		<title></title>

		<!-- load libraries -->
		<script src="/angular/angular.js"></script>

		<!-- load application -->
		<link rel="stylesheet" href="/style.css">
		<script src="/ws.js"></script>

	</head>
	<body ng-controller="WSChatCtrl as wsChatCtrl">

		<h1>Web Socket</h1>

		<form name="chatForm" novalidate ng-submit="wsChatCtrl.send()">
			<table>
				<tr>
					<td colspan="2">
						<textarea cols="50" rows="10" readonly ng-model="wsChatCtrl.chats"></textarea>
					</td>
				</tr>
				<tr>
					<td>Name:</td>
					<td> 
						<input type="text" name="name" placeholder="Your name" 
								ng-model="wsChatCtrl.name" required>
					</td>
				</tr>
				<tr>
					<td>Message:</td>
					<td>
						<input type="text" name="message" placeholder="Your message" 
								ng-model="wsChatCtrl.message" required>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" ng-disabled="chatForm.$invalid">Send</button>
					</td>
				</tr>
			</table>
		</form>
		
	</body>
</html>
