<!DOCTYPE html>
<html lang="en" ng-app="ChessApp">
	<head>
		<meta charset="UTF-8">
		<title>Chess</title>
		<!-- load libraries -->
		<link rel="stylesheet" href="/chessboardjs/css/chessboard.css">
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/chessboardjs/js/chessboard.js"></script>
		<script src="/angular/angular.js"></script>

		<!-- load application -->
		<link rel="stylesheet" href="/style.css">
		<script src="/chess.js"></script>
	</head>
	<body ng-controller="ChessCtrl as chessCtrl">

		<h1>How about a nice game of chess?</h1>

		<h2>Game id: {{ chessCtrl.gameId }}</h2>


		<button type="button" ng-click="chessCtrl.createGame()">Create</button>
		<input type="text" size="15" placeholder="Game id" ng-model="chessCtrl.gameId">
		<button type="button" ng-click="chessCtrl.joinGame()">Join</button>

		<br> <br>

		<div id="board1" style="width: 400px"></div>

		
	</body>
</html>
